/**
 * RTL CSS
 */

/*--------------------------------------------------------------
TOP HEADER CSS
--------------------------------------------------------------*/
.rtl .top-header-section .date-section {
    float: right;
    margin-left: 15px;
    margin-right: 0;
}

.rtl #top-header-navigation {
    float: right;
}

.rtl .top-social-wrapper {
    float: left;
}

.rtl .top-menu ul li, .rtl #footer-navigation ul li {
  border-left: medium none;
  border-right: 2px solid rgba(0, 0, 0, 0.3);
  padding-left: 0;
  padding-right: 15px;
}

/*--------------------------------------------------------------
MIDDLE HEADER CSS
--------------------------------------------------------------*/
.rtl .site-branding {
    float: right;
}

.rtl .header-ads-wrapper {
    float: left;
}

/*--------------------------------------------------------------
BOTTOM HEADER CSS
--------------------------------------------------------------*/
.rtl .home-icon, .rtl #site-navigation {
    float: right;
}

.rtl .header-search-wrapper {
	float: left;
}

.rtl #site-navigation ul li.menu-item-has-children a,
.rtl #site-navigation ul li.page_item_has_children a {
	margin-right: 0;
	margin-left: 15px;
}

.rtl #site-navigation li.menu-item-has-children > a:after, 
.rtl #site-navigation li.page_item_has_children > a:after {
	content: "";
}

.rtl #site-navigation ul.sub-menu li.menu-item-has-children > a:after, 
.rtl #site-navigation ul.children li.page_item_has_children > a:after {
	content: "";
}

.rtl #site-navigation li.menu-item-has-children > a:before, 
.rtl #site-navigation li.page_item_has_children > a:before {
	content: "\f107";
    font-family: FontAwesome;
    position: absolute;
    left: 5px;
    top: 2px;
}

.rtl #site-navigation ul.sub-menu li.menu-item-has-children > a:before, 
.rtl #site-navigation ul.children li.page_item_has_children > a:before {
	content: "\f104";
}

.rtl #site-navigation ul.sub-menu, 
.rtl #site-navigation ul.children {
	right: 0;
}

.rtl #site-navigation ul.sub-menu ul, 
.rtl #site-navigation ul.children ul {
	right: 100%;
}

.rtl .header-search-wrapper .search-form-main {
  left: 0;
  right: auto;
}

.rtl .header-search-wrapper .search-form-main::before {
  right: auto;
  left: 10px;
}

/*--------------------------------------------------------------
TICKER CSS
--------------------------------------------------------------*/

.rtl .ticker-caption {
  float: right;
}

.rtl .ticker-content-wrapper {
  border-left: 1px solid #e1e1e1;
  padding: 4px 30px 0 0;
  text-align: left;
  border-right: none;
}

.rtl .ticker-content-wrapper .lSAction a.lSPrev, .rtl .ticker-content-wrapper .lSAction a.lSNext {
  float: left;
  margin: 0 20px 0 0;
}

.rtl .ticker-content-wrapper .lSAction {
  left: 10px;
  right: auto;
}

.rtl .ticker-content-wrapper ul {
  padding-left: 70px;
}

.rtl .ticker-caption::after {
  left: -12px;
  right: auto;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.rtl .lSSlideWrapper ul li>a {
	float: right;
}
/*--------------------------------------------------------------
SLIDER CSS
--------------------------------------------------------------*/

.rtl .mt-featured-slider-wrapper {
	float: right;
	margin-right: 0;
	margin-left: 1%;
}

.rtl .bx-wrapper {
	direction: ltr;
}

.rtl .slider-content-wrapper {
	text-align: right;
}

.rtl .editorial_pro_featured_slider .lSAction a {
  float: left;
  margin: 0 0px 0 20px;
}
/*--------------------------------------------------------------
Block Widgets
--------------------------------------------------------------*/

.rtl .block-header .block-title, 
.rtl .widget .widget-title, 
.rtl .related-articles-wrapper .related-title {
	float: right;
}

.rtl .block-header, 
.rtl .widget .widget-title-wrapper, 
.rtl .related-articles-wrapper .widget-title-wrapper{
	border-left: none;
	border-right: 2px solid #f54337;
}

.rtl .mt-column-2 {
	float: right;
	margin-left: 0;
}

.rtl .right-column-wrapper.mt-column-2 {
	margin-left: 2%;
	float: left;
}

.rtl .list-posts-block .single-post-wrapper .post-thumb-wrapper,
.rtl .column-posts-block .single-post-wrapper.secondary-post .post-thumb-wrapper {
	float: right;
	margin-right: 0;
	margin-left: 2%;
}

.rtl .list-posts-block .single-post-wrapper .post-content-wrapper,
.rtl .column-posts-block .single-post-wrapper.secondary-post .post-content-wrapper,
.rtl .editorial_block_list .post-content-wrapper {
	float: left;
}

.rtl .category-button a {
	margin: 0 0 2px 0;
}

.rtl .post-meta-wrapper .posted-on {
	margin-right: 0;
}

.rtl .editorial_block_list .post-thumb-wrapper {
	float: right;
}

.rtl .home-primary-wrapper {
	float: right;
}

.rtl .home-secondary-wrapper {
	float: left;
}

.rtl .posted-on::before {
  margin-right: 0;
}

.rtl.archive .page-header {
  padding-right: 0;
}

.rtl .post-format-video:before,
.rtl .post-format-audio:before,
.rtl .post-format-gallery:before{
    position: absolute;
    right: 0;
}

.rtl .editorial_pro_default_tabbed .single-post-wrapper .post-thumb {
	float: right;
	margin-right: 0;
}

.rtl .editorial_pro_default_tabbed .single-post-wrapper .post-content-wrapper {
	float: left;
}

.rtl .editorial_pro_carousel .carousel-nav-action {
	left: 0;
}

.rtl .editorial_pro_block_list .post-thumb-wrapper {
	float: right;
}

.rtl .editorial_pro_block_list .post-content-wrapper {
	float: left;
}

.rtl .editorial_pro_fullwidth_tabbed .ep-tab-links li a .tab-icon {
    margin-left: 8px;
}
.rtl .post-meta-wrapper .posted-on {
	margin-right: 0 !important;
}

/*--------------------------------------------------------------
Breadcrumbs
--------------------------------------------------------------*/
.rtl .mt-bread-home,
.rtl .woocommerce .woocommerce-breadcrumb {
	border-left: none;
	border-right: 5px solid #0288d1;
	text-align: right;
}

.rtl #mt-breadcrumbs > span a,
.rtl .woocommerce .woocommerce-breadcrumb a {
	margin-right: 0;
	margin-left: 10px;
}

.rtl #mt-breadcrumbs > span:first-child {
	margin-right: 0;
}

.rtl #mt-breadcrumbs > span {
	margin-left: 0;
	margin-right: 10px;
}

.rtl .editorial_pro_block_column.widget-columns-2 .post-format-video::before, .rtl .editorial_pro_block_column.widget-columns-2 .post-format-audio::before, .rtl .editorial_pro_block_column.widget-columns-2 .post-format-gallery::before{
	right: 10px;
}
/*--------------------------------------------------------------
Footer section
--------------------------------------------------------------*/
.rtl #bottom-footer .site-info {
	float: right;
}

.rtl #footer-navigation {
	float: left;
}

.archive-classic .entry-footer .entry-meta {
    direction: ltr;
}
/*--------------------------------------------------------------
Innerpages
--------------------------------------------------------------*/
.rtl #primary, .rtl.home.blog #primary,
.rtl .editorial-author-wrapper .author-avatar {
	float: right;
}

.rtl #secondary, .rtl.home.blog #secondary,
.rtl .editorial-author-wrapper .author-desc-wrapper {
	float: left;
}

.related-content-wrapper .post-cat-list {
  margin-top: 12px;
}

.rtl.single-post.post_layout_1 .default-content-wrapper .default-postmeta {
    float: right;
    margin-left: 20px;
}

.rtl.archive .page-header {
	border-left: none;
	border-right: 4px solid #0288d1;
}

.rtl.archive-columns .entry-header, 
.rtl .archive-grid-post-wrapper .entry-header {
	text-align: right;
}

.rtl .page-content,
.rtl .entry-content,
.rtl .entry-summary {
	text-align: right;
}

.rtl .ep-read-more.rm-button {
	text-align: right;
}

.rtl.archive-columns .entry-footer,
.rtl .archive-grid-post-wrapper .entry-footer {
	text-align: right;
}

.rtl .list-archive .post-image {
	float: right;
}

.rtl .list-archive .archive-desc-wrapper {
	float: left;
}

.rtl .list-archive .entry-header {
	text-align: right;
}

.rtl .block-header,
.rtl .widget .widget-title-wrapper,
.rtl .related-articles-wrapper .widget-title-wrapper,
.rtl .mt-single-review-wrapper .section-title {
	text-align: right;
}

.rtl .block-header,
.rtl .widget .widget-title-wrapper,
.rtl .related-articles-wrapper .widget-title-wrapper,
.rtl .mt-single-review-wrapper .section-title {
	border-left: none;
	border-right: 2px solid #0288d1;
}

.rtl .mt-single-review-wrapper .review-featured-name,
.rtl .mt-single-review-wrapper .sum-title-detail-wrap {
	float: right;
}

.rtl .mt-single-review-wrapper .stars-count,
.rtl .mt-single-review-wrapper .review-percent{
	float: left;
}

.rtl .mt-single-review-wrapper .stars-count,
.rtl .mt-single-review-wrapper .review-percent {
	border-left: none;
	border-right: 1px solid #e1e1e1;
}

.rtl .mt-single-review-wrapper .total-review-wrapper .stars-count {
	border: medium none;
}

.rtl .mt-single-review-wrapper .total-review-wrapper {
	right: inherit;
	left: 0;
	border-left: none;
	border-right: 1px solid #e1e1e1;
	padding: 0 19.5px;
}

.rtl.no-sidebar-center #primary {
	float: none;
}