@media screen and (max-width: 1250px) {
	.sharing-top-float .tc-social-sharing {
		background: rgba(255,255,255,0.7);
		border-radius: 0;
		width: 100%;
		top: auto;
		bottom: 0;
	}
	.sharing-top-float .tc-social-sharing li.share-on {
		font-size: 16px;
		margin-top: 10px;
	}
	.sharing-top-float .tc-social-sharing li {
		margin-bottom: 0;
	}
	.single .social-share-on .site-footer {
		margin-bottom: 50px;
	}
}
@media screen and (max-width: 1175px) {
	* {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}

@media screen and (min-width: 1025px) {
	#mobile-menu-wrapper {
		display: none !important;
	}
 }
 
@media screen and (max-width: 1024px) {
	.inner {
		width: 100%;
	}
	.mobile-only {
		display: block;
	}
	#primary-navigation {
		display: none;
	}
	#mobile-menu-wrapper {
		position: fixed;
		top: 0;
		left: 0;
		width: 75%;
		height: 100%;
		min-height: 100%;
		max-height: 100%;
		overflow: scroll;
		background: #f3f2f2;
		-ms-transform: translate(-100%,0);
		-webkit-transform: translate(-100%,0);
		transform: translate(-100%,0);
		-webkit-transition: -webkit-transform 500ms ease;
		transition: transform 500ms ease;
		overflow-x: hidden;
	}
	#mobile-menu-wrapper.wpadminbar-active {
		top: 45px;
	}
	#mobile-menu-wrapper #primary-navigation {
		display: block;
	}
	#page {
		-ms-transform: none;
		-webkit-transform: none;
		transform: none;
		-webkit-transition: -webkit-transform 500ms ease;
		transition: transform 500ms ease;
	}
	.mobile-menu-active #mobile-menu-wrapper {
		-ms-transform: translate(-100%,0);
		-webkit-transform: translate(-100%,0);
		transform: translate(-100%,0);
	}
	.mobile-menu-active #mobile-menu-wrapper {
		-ms-transform: translate(0,0);
		-webkit-transform: translate(0,0);
		transform: translate(0,0);
	}
	.mobile-menu-active #page {
		-ms-transform: none;
		-webkit-transform: none;
		transform: none;
	}
	.mobile-menu-active #page {
		-ms-transform: translate(75%,0);
		-webkit-transform: translate(75%,0);
		transform: translate(75%,0);
		position: fixed;
		top: 0;
		width: 100%;
	}
	#mobile-menu-wrapper .mobile-menu > ul {
		border-top: 1px solid #323234;
		border-bottom: 1px solid #030303;
	}
	#mobile-menu-wrapper ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	#mobile-menu-wrapper ul li li,
	#mobile-menu-wrapper ul li {
		float: none;
		list-style: none;
		border-bottom: 1px solid #323234;
	}
	#mobile-menu-wrapper ul ul {
		border-top: 1px solid #323234;
		padding-left: 10px;
	}
	#mobile-menu-wrapper ul li:last-child,
	#mobile-menu-wrapper ul li:last-child > a {
		border-bottom: none;
	}
	#mobile-menu-wrapper ul li a {
		font-size: 14px !important;
		color: #282724;
		min-height: 40px;
		line-height: normal;
		padding: 10px;
		display: block;
	}
	#mobile-menu-wrapper ul li.menu-item-has-children > a {
		position: relative;
	}
	#mobile-menu-wrapper ul li.menu-item-has-children > a:after {
		content: ' ▾';
		position: absolute;
		right: 20px;
	}
	.category-navigation .toggle-mobile-menu {
		font-size: 16px;
		display: block;
		position: relative;
		padding: 10px 15px;
		text-decoration: none;
		color: #000000;
	}
	.category-navigation .toggle-mobile-menu i {
		font-size: 30px;
		position: absolute;
		top: 50%;
		right: 15px;
		margin-top: -15px;
	}
	.category-navigation .menu-main-menu-container {
		display: none;
	}
	.category-navigation .menu-main-menu-container.main-nav-open {
		display: block;
	}
	.category-navigation .menu-category-menu-container {
		display: none;
	}
	.category-navigation ul li {
		float: none;
		border-bottom: 1px solid #cccccc;
	}
	.category-navigation ul ul,
	.category-navigation ul ul ul {
		display: block;
		position: relative;
		left: 0;
		top: 0;
	}
	.category-navigation ul ul li:last-child {
		border-bottom: none;
	}
	.category-navigation ul ul {
		padding-left: 10px;
	}
	.category-navigation ul li.menu-item-has-children > a {
		position: relative;
	}
	.category-navigation ul li.menu-item-has-children > a:after {
		content: '';
		width: 0;
		height: 0;
		border-left: 8px solid transparent;
		border-right: 8px solid transparent;
		border-top: 8px solid #606060;
		position: absolute;
		right: 15px;
		top: 50%;
		margin-top: -4px;
	}
	.category-navigation ul li:hover > a,
	.category-navigation ul li a:hover {
		background: none;
		color: #000000;
	}
	.posts-section article .thumbnail .tc-social-sharing {
		visibility: visible;
		-webkit-transform: translateX(0%);
		transform: translateX(0%);
		transition: -webkit-transform .1s ease-in-out;
		transition: transform .1s ease-in-out;
	}
}
@media screen and (max-width: 1023px) {
	.inner {
		max-width: 768px;
	}
	.overlay .overlay-close {
		margin-top: -16px;
		right: 20px;
	}
	.banner-section .banner {
		float: none;
		width: 100%;
		margin-right: 0;
	}
	.slick-slide img {
		width: 768px;
		height: auto;
	}
	.menu-category-container {
		display: none;
	}
	.category-navigation .toggle-mobile-menu.active {
		border-bottom: 1px solid #cccccc;
	}
	.posts-section article {
		min-height: 470px;
	}
	.related-posts ul.grid li,
	.related-posts ul.grid li:nth-child(3n),
	.related-posts ul.grid li:nth-child(3n+1),
	.posts-section article,
	.posts-section article:nth-child(3n),
	.posts-section article:nth-child(3n+1) {
		width: 48%;
		clear: none;
		float: left;
		margin-right: 4%;
	}
	.related-posts ul.grid li:nth-child(2n),
	.posts-section article:nth-child(2n) {
		margin-right: 0;
		float: right;
	}
	.related-posts ul.grid li:nth-child(2n+1),
	.posts-section article:nth-child(2n+1) {
		clear: left;
	}

	.content-area {
		width: 100%;
		margin-right: 0;
	}
	.widget-area {
		float: none;
		width: 100%;
	}

	.comment-meta .vcard img {
		max-width: 50px;
		margin-right: 15px;
	}
	.comments-area .comment-content {
		padding-left: 66px;
	}
	.comments-area ol.comment-list ol.children {
		padding-left: 66px;
	}
	.comments-area .reply {
		padding-left: 65px;
	}

	.footer-widgets .widget {
		padding: 0;
	}
	.footer-widgets .footer-widget {
		width: 32%;
		margin-right: 2%;
	}
	.footer-widgets .footer-column-3 {
		margin-right: 0;
	}
	.site-footer .copyright,
	.site-footer .menu-footer {
		float: none;
		width: 100%;
		text-align: center;
	}
	.site-footer .menu ul,
	.site-footer .menu-footer ul {
		float: none;
	}

}

@media screen and (max-width: 767px) {
	.inner {
		max-width: 640px;
	}
	.slick-slide img {
		width: 640px;
		height: auto;
	}
	.posts-section article {
		min-height: 440px;
	}
	.related-posts ul.grid li,
	.related-posts ul.grid li:nth-child(3n),
	.related-posts ul.grid li:nth-child(3n+1),
	.posts-section article,
	.posts-section article:nth-child(3n),
	.posts-section article:nth-child(3n+1) {
		width: 48%;
		clear: none;
		float: left;
		margin-right: 4%;
	}
	.related-posts ul.grid li:nth-child(2n),
	.posts-section article:nth-child(2n) {
		margin-right: 0;
		float: right;
	}
	.related-posts ul.grid li:nth-child(2n+1),
	.posts-section article:nth-child(2n+1) {
		clear: left;
	}
}
@media screen and (max-width: 639px) {
	.inner {
		max-width: 480px;
	}
	.site-header .site-branding {
		max-width: 240px;
	}
	.site-header .site-title {
		font-size: 24px;
	}
	.search-style-one #trigger-overlay,
	.site-header .toggle-mobile-menu {
		font-size: 20px;
	}
	.slick-slide img {
		width: 100%;
		height: auto;
	}
	.posts-section article {
		min-height: 440px;
	}
	.footer-widgets .footer-widget {
		width: 100%;
		margin: 0;
	}
}
@media screen and (max-width: 570px) {
	.related-posts ul.grid li {
		min-height: 230px;
	}
}
@media screen and (max-width: 480px) {
	.site-header .site-branding {
		max-width: 200px;
	}
	.site-header .site-title {
		font-size: 18px;
	}
	.site-header .toggle-mobile-menu {
		font-size: 16px;
	}
	.site-header .site-title {
		font-size: 20px;
	}
	.search-style-one #trigger-overlay {
		margin-top: -7px;
	}
	.site-header .toggle-mobile-menu i,
	.search-style-one a i {
		font-size: 20px;
	}
	.related-posts ul.grid li,
	.related-posts ul.grid li:nth-child(2n),
	.related-posts ul.grid li:nth-child(2n+1),
	.related-posts ul.grid li:nth-child(3n),
	.related-posts ul.grid li:nth-child(3n+1),
	.posts-section article,
	.posts-section article:nth-child(2n),
	.posts-section article:nth-child(2n+1),
	.posts-section article:nth-child(3n),
	.posts-section article:nth-child(3n+1) {
		float: none;
		min-height: 0;
		margin-right: 0;
		width: 100%;
		padding-bottom: 35px;
	}
}